body
{
    margin:0;
    padding:0;
    font-family:'poppins', sans-serif;
}
.reset
{
    margin:0;
    padding:0;
}
.font-20
{
    font-size:20px;
}
.bold
{
    font-weight: bold;
}
a
{
    text-decoration:none;
    color:black;
}
a:hover
{
    color:#70A0E5;
}
.primary-blue
{
    color:#70A0E5;
}
.nav
{
    margin-top:2rem;
    display:flex;
    justify-content:space-around;
    margin-bottom:3rem;
}
.link
{
    margin:0 1rem 0 1rem;
}
.style
{
    text-align:center;
}
.satisfy
{
    font-family:'satisfy', monospace;
    font-size:1.8rem;
    margin:1rem;
}
.contact-1
{
    display:flex;
    margin-bottom:3rem;
    margin-top:3rem;
}
.main-box
{
    margin-top:2rem;
    margin-bottom:2rem;
    display:flex;
    justify-content: space-evenly;
}
.icon
{
    width:60px;
}
.social-icon
{
    width:60px;
    height: 60px;
}
.social
{
    margin-left:2rem;
}
.contact-img
{
    margin-left:2rem;
    height:500px;
    width:700px;
}
.contact-text
{
    width:20rem;
}
.text
{
    margin-left:2rem;
}
.form
{
    margin-left:5rem;
}
.area
{
    border:none;
    background-color:#EADFDF;
    width:600px;
    height: 40px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.text-area
{
    margin-top:1rem;
    margin-bottom:1rem;
    border:none;
    background-color: #EADFDF;
    width:600px;
}
.submit-button
{
    width:10rem;
    height:3rem;
    background-color: #70A0E5;
    color:white;
    border:none;
    font-size:16px;
    margin-left:13rem;
}
.submit-button:hover
{
    cursor:pointer;
    background-color: #387CDF;
}

@media screen and (max-width: 768px)
{
    .font-20
    {
        font-size:10px;
    }
    .contact-info
    {
        display:none;
    }
    .area
    {
        width:250px;
    }
    .text-area
    {
        width:250px;
    }
    .submit-button
    {
        margin-left:3rem;
    }
    .form
    {
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0;
    }
    .footer
    {
        display:flex;
        justify-content:center;
    }
}
@media screen and (min-width: 768px)
{
    .footer
    {
        display:none;
    }
    .none
    {
        display:none;
    }
}